<%-include ("../layouts/header") %>

<!-- Display the title, image, and description of the selected gallery -->
<h1><%= gallery.title %></h1>
<img src="<%= gallery.image %>">
<p><%= gallery.description %></p>

<%-include ("../layouts/footer") %>